<p id="notice"><%= notice %></p>

<p>
  <%= @blog.content %>
</p>

<p>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user2.name%>
</p>

<% if current_user2.id == @blog.user2_id %>
  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-default' %> 
<%end%>
<% unless @blog.user2_id == current_user2.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-default' %>
  <% end %>
<%end %>
<br><br>
<%= link_to 'Back', blogs_path, class: 'btn btn-default' %>
